.form {
  display: flex;
  max-width: 40rem;
  margin: 0 auto;
  flex-direction: column;
}

/* .form-title {
} */

.flex-row {
  display: flex;
}

.form-label {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0em;
}
.form-label:first-of-type {
  margin-top: 0;
}

.form-single-code-input {
  flex-grow: 1;
  padding: 0.4em;
  border: 1px solid #9ca3af;
  border-radius: 0.25rem;
  background-color: white;
}

.form-print-button {
  flex-basis: 4em;
  flex-grow: 0.3;
}

.form-submit {
  margin-top: 1.5rem;
  background-color: #26532b; /* $colors.darkgood */
  color: white;
  font-weight: 400;
  border: unset;
  border-radius: 0.3em;
  padding: 0.4em;
}
