.search-form form {
  display: flex;
}

.search-form input[type="text"] {
  flex-grow: 1;
  border: 1px solid #9ca3af;
  border-radius: 0.25rem;
  padding: 0.4em;
  background-color: white;
}
